body {
	#background-color: darkslategray;
	color: #05d9e8;
	background-color: #2a132f;

}

div.head {
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-color: #05d9e8;
}

div.main{
	text-align: left;
	#margin-left: 400px;
}
div.blog{
	text-align: left;
 }


h2.lib {
text-align: center;

}
img.prof {
	float: left;
	border-right: solid;
	border-bottom: solid;
	
}
ul.navbar {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
      }
ul.navbar li{
	display: inline;

}

ul.lib li{
text-align: left; 

}

.dropdown{
	float:left;
	overflow:hidden;
}

.dropdown-content {
	display:none;
	position:abosolute;
	background-color: #f9f9f9
	min-width: 160px
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2)
	z-index:1
}
.dropdown-content a {
	float:none;
	color:black;
	padding 12px 16px;
	text-decoration: none;
	display:block;
	text-align:left;
}
.dropdown:hover .dropdown-content{
	display:block
}

ul {
	list-style-type: none;
}
.column {
		float: left;
		width: 50% ;
	}
